.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	height: auto;

	h2 {
		display: flex;
		padding: 10px;
		font-family: "Courier New", Courier, monospace;
		font-size: 40px;
		width: 230px;
		text-align: center;
		margin: 0 auto;
		height: 50px;
		justify-content: center;
		background-color: #fff;
		border-radius: 20px;
		font-weight: bold;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
	}
}

.card {
	position: relative;
	width: 250px;
	height: 400px;
	margin: 10px;
	overflow: hidden;
	text-decoration: none;
	color: black;
	transition: transform 0.2s;
	&-header {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	&-par {
		font-size: 30px;
		text-align: center;
		margin: 0 auto;
		font-weight: 500;
		background-color: #fff;
		padding: 10px;
		border-radius: 20px;
		animation: pulse 2s infinite;
		width: 300px;
		a {
			text-decoration: underline;
			color: rgb(13, 255, 0);
		}
	}
}

.card:hover {
	transform: scale(1.05);
	border-radius: 20px;
}

.card-image {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	// border-radius: 20px;
}

.card-label {
	position: absolute;
	bottom: 10px;
	left: 10px;
	font-weight: bold;
	font-size: 25px;
}

.card-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.2s;
}

.card:hover .card-text {
	opacity: 1;
}

@media screen and (min-width: 360px) and (max-width: 533px) {
	.card-container {
		h2 {
			font-size: 30px;
			height: auto;
		}
	}
	.card {
		position: relative;
		width: 250px;
		height: 400px;
		margin: 10px;
		overflow: hidden;
		text-decoration: none;
		color: black;
		transition: transform 0.2s;
		&-header {
			display: flex;
			justify-content: center;
			text-align: center;
		}
		&-par {
			font-size: 20px;
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.7;
	}
}

.fade-in {
	opacity: 0;
	transform: translateY(20px);
	visibility: hidden;
	transition: opacity 1s, transform 1s;
}

.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
