.feedBack {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	height: auto;
	margin-top: 50px;
	width: auto;
	&_item {
		p {
			text-align: center;
			font-size: 30px;
			font-family: "Courier New", Courier, monospace;
			font-weight: 600;
			a {
				text-decoration: dotted;
				color: rgb(142, 142, 142);
				animation: pulse 2s infinite;
			}
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.7;
	}
}

@media screen and (min-width: 1366px) and (max-width: 1680px) {
	.feedBack {
		justify-content: space-around;
		flex-direction: column;
		&_header {
			text-align: center;
			justify-content: center;
			margin: 0 auto;
			font-size: 35px;
			font-family: "Courier New", Courier, monospace;
			height: auto;
			width: 500px;
			background-color: #000;
			border-radius: 20px;
			color: #fff;
			margin-bottom: 30px;
		}
		&_item {
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}
}

@media screen and (min-width: 800px) and (max-width: 1365px) {
	.feedBack {
		justify-content: space-around;
		flex-direction: column;
		&_header {
			text-align: center;
			justify-content: center;
			margin: 0 auto;
			font-size: 35px;
			font-family: "Courier New", Courier, monospace;
			height: auto;
			width: 500px;
			background-color: #000;
			border-radius: 20px;
			color: #fff;
			margin-bottom: 30px;
		}
		&_item {
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 799px) {
	.feedBack {
		justify-content: space-around;
		flex-direction: column;
		&_header {
			text-align: center;
			justify-content: center;
			margin: 0 auto;
			font-size: 35px;
			font-family: "Courier New", Courier, monospace;
			height: auto;
			width: 500px;
			background-color: #000;
			border-radius: 20px;
			color: #fff;
			margin-bottom: 30px;
		}
		&_item {
			text-align: center;
			img {
				width: 500px;
			}
		}
	}
}

@media screen and (max-width: 599px) {
	.feedBack {
		justify-content: space-around;
		flex-direction: column;
		&_header {
			text-align: center;
			justify-content: center;
			margin: 0 auto;
			font-size: 25px;
			font-family: "Courier New", Courier, monospace;
			height: auto;
			width: 300px;
			background-color: #000;
			border-radius: 20px;
			color: #fff;
			margin-bottom: 30px;
		}
		&_item {
			text-align: center;
			img {
				width: 350px;
			}
		}
	}
}
