.feedBack {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	height: auto;
	margin-top: 50px;
	width: auto;
	.feedBack_header2 {
		display: flex;
		padding: 10px;
		font-family: "Courier New", Courier, monospace;
		font-size: 40px;
		width: 230px;
		text-align: center;
		margin: 0 auto;
		height: 130px;
		justify-content: center;
		background-color: #fff;
		border-radius: 20px;
		font-weight: bold;
		box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
	}
	&_item {
		p {
			text-align: center;
			font-size: 30px;
			font-family: "Courier New", Courier, monospace;
			font-weight: 600;
			a {
				color: darkgray;
			}
		}
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.1);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.7;
	}
}

@media screen and (min-width: 1366px) and (max-width: 1680px) {
	.feedBack {
		justify-content: space-around;
		flex-direction: column;
		.feedBack_header2 {
			margin-bottom: 30px;
		}
		&_item {
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 1365px) {
	.feedBack {
		justify-content: space-around;
		flex-direction: column;
		.feedBack_header2 {
			margin-bottom: 30px;
		}
		&_item {
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}
}

@media screen and (max-width: 799px) {
	.feedBack {
		justify-content: space-around;
		flex-direction: column;
		&_header {
			text-align: center;
			justify-content: center;
			margin: 0 auto;
			font-size: 35px;
			font-family: "Courier New", Courier, monospace;
			height: auto;
			width: 500px;
			background-color: #000;
			border-radius: 20px;
			color: #fff;
			margin-bottom: 30px;
		}
		&_item {
			text-align: center;
			img {
				width: 500px;
			}
		}
	}
}

@media screen and (max-width: 599px) {
	.feedBack {
		justify-content: space-around;
		flex-direction: column;
		&_header {
			text-align: center;
			justify-content: center;
			margin: 0 auto;
			font-size: 25px;
			font-family: "Courier New", Courier, monospace;
			height: auto;
			width: 300px;
			background-color: #000;
			border-radius: 20px;
			color: #fff;
			margin-bottom: 30px;
		}
		&_item {
			text-align: center;
			img {
				width: 350px;
			}
		}
	}
}
