.tabs-container {
	display: flex;
	flex-direction: column;
	height: auto;
	width: auto;
}

.tabs-header {
	background-color: #1c1c1c;
	color: white;
	text-align: center;
	padding: 20px 0;
	font-size: 40px;
	font-family: "Courier New", Courier, monospace;
	margin: 0 auto;
	width: 295px;
	border-radius: 20px;
	margin-bottom: 50px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.tabs-buttons {
	display: flex;
	justify-content: space-around;

	button {
		padding: 10px 20px;
		cursor: pointer;
		transition: background-color 0.3s;
		background-color: #eee;
		border: none;
		outline: none;
		font-size: 30px;
		font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
		font-weight: 700px;
		border-radius: 10px;
		margin-bottom: 20px;

		&:hover {
			background-color: #cecdcd;
		}
	}
}

.tabs-content {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// background: white;
	padding: 50px;
	&_img {
		img {
		}
	}

	.tab-content-item {
		display: flex;
		align-items: center;
		margin: 10px 0;
		font-size: 30px;
		font-family: "Courier New", Courier, monospace;
		margin: 30px;
		background-color: #fff;
		border-radius: 10px;
		height: 70px;
		&:hover {
			background-color: #b3b3b3;
			transition: all 0.5s;
		}

		.tab-image {
			width: 50px;
			height: 50px;
			margin-right: 10px;
		}
	}
}

@media screen and (min-width: 533px) and (max-width: 767px) {
	.tabs-header {
		font-size: 25px;
		width: 150px;
		margin-top: 25px;
	}
	.tabs-buttons {
		button {
			font-size: 25px;
		}
	}
}

@media screen and (min-width: 360px) and (max-width: 533px) {
	.tabs-header {
		font-size: 25px;
		width: 150px;
		margin-top: 25px;
	}
	.tabs-buttons {
		button {
			font-size: 20px;
			color: #1c1c1c;
		}
	}
	.tab-content-item {
		span {
			font-size: 25px;
		}
	}
}

.fade-in {
	opacity: 0;
	transform: translateY(20px);
	visibility: hidden;
	transition: opacity 1s, transform 1s;
}

.fade-in.visible {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}
