@import "../../styles/variables.scss";

.greeting {
	margin-top: 100px;
	display: flex;
	font-family: "Courier New", Courier, monospace;
	width: 100%;
	height: 1000px;
	justify-content: center;
	text-align: center;
	&_container {
		padding: 20px;
		display: flex;
		flex-direction: column;
		width: 1900px;
		height: auto;
	}
	&_header {
		margin: 0;
		display: flex;
		justify-content: center;
		font-size: 50px;
		margin-top: 15px;
	}
	&_head {
		font-size: 60px;
		display: flex;
		position: relative;
		// top: 10px;
		width: 170px;
		height: 100px;
		margin: 0;
		font-family: monospace;
		white-space: nowrap;
		// overflow: hidden;
		animation: typewriter 1.5s steps(35, end) 1 forwards;
		p {
		}
	}
	&_descr-wrapper {
		position: relative;
		bottom: 300px;
		p {
			width: 1000px;
			font-size: 30px;
			display: flex;
			text-align: left;
			animation: typewriter 1.5s steps(35, end) 1 forwards;
			font-weight: 500;
		}
	}
	&_image {
		display: flex;
		width: 500px;
		height: auto;
		align-self: flex-end;
		img {
			width: 100%;
			height: auto;
			border-radius: 20px;
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
			position: relative;
			right: 40px;
			opacity: 0;
			animation: fadeIn 3s forwards;
		}
	}
}
@keyframes typewriter {
	from {
		width: 0;
	}
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.greeting {
		max-width: 750px;
		height: 800px;
		&_header {
			font-size: 30px;
		}
		&_image {
			width: 400px;
			img {
				left: 20px;
			}
		}
		&_descr-wrapper {
			width: 300px;
			margin-bottom: 30px;
			bottom: 450px;
			p {
				font-size: 20px;
				width: auto;
			}
		}
	}
}
@media screen and (min-width: 533px) and (max-width: 767px) {
	.greeting {
		width: auto;
		height: auto;
		margin-top: 40px;
		&_header {
			font-size: 25px;
		}
		&_head {
			font-size: 30px;
		}
		&_image {
			width: 300px;
			margin: 0 auto;
			margin-right: 50px;
		}
		&_descr-wrapper {
			width: 300px;
			margin-bottom: 30px;
			top: 50px;
			width: auto;
			p {
				font-size: 20px;
				width: auto;
			}
		}
	}
}

@media screen and (min-width: 360px) and (max-width: 533px) {
	.greeting {
		width: auto;
		height: auto;
		margin-top: 50px;
		&_header {
			font-size: 25px;
		}
		&_head {
			font-size: 30px;
		}
		&_image {
			width: 300px;
			margin: 0 auto;
			img {
				right: 0;
			}
		}
		&_descr-wrapper {
			width: 300px;
			margin-bottom: 30px;
			top: 50px;
			width: auto;
			p {
				font-size: 20px;
				width: auto;
			}
		}
	}
}
