.google {
	display: flex;
	justify-content: space-around;
	background: white;
	padding: 20px;
	min-height: 700px;
	img {
		height: 500px;
		width: auto;
		margin-top: 100px;
	}
	h2 {
		padding: 10px;
		font-family: "Courier New", Courier, monospace;
		font-size: 40px;
		width: 350px;
		text-align: center;
		height: 80px;
		justify-content: center;
		background-color: #000000;
		border-radius: 20px;
		font-weight: bold;
		color: #ffffff;
		margin-top: 30px;
	}
}

.google-link {
	display: flex;
	flex-direction: column;
	justify-content: center;
	img {
		width: 90px;
		height: auto;
		margin-top: 20px;
	}
	&-descr {
		text-align: center;
		color: #000000;
		font-size: 25px;
	}
	&-wrapper {
		text-align: center;
		text-decoration: none;
	}
	:hover {
		color: #6f6f6f;
		transition: all 0.5s;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.google {
		width: 768px;
		padding: 10px;
		flex-direction: column;
		h2 {
			margin: 0 auto;
			margin-bottom: 25px;
		}
		iframe {
			height: 600px;
		}
	}
}

@media screen and (min-width: 533px) and (max-width: 767px) {
	.google {
		display: block;
		h2 {
			margin: 0 auto;
			font-size: 25px;
			height: auto;
			margin-bottom: 20px;
		}
		iframe {
			height: 600px;
			width: auto;
			width: 533px;
		}
	}
}

@media screen and (min-width: 360px) and (max-width: 533px) {
	.google {
		display: block;
		padding: 5px;
		h2 {
			margin: 0 auto;
			font-size: 20px;
			height: auto;
			width: 300px;
			margin-bottom: 20px;
		}
		iframe {
			height: 600px;
			width: auto;
			width: 360px;
		}
	}
}
