.footer {
	padding: 20px;
	background-color: #212121;
	color: #fff;
	text-align: center;
	font-family: "Arial", sans-serif;
	margin-right: 0;
	width: auto;
	box-shadow: 0 -10px 5px -5px rgba(0, 0, 0, 0.7);
}

.footer a {
	color: #fff;
	margin: 0 10px;
	text-decoration: none;
	transition: color 0.3s;
}

.footer a:hover {
	color: #00bcd4;
}

@media screen and (min-width: 360px) and (max-width: 1024px) {
}
